.container {
    display: flex;
    flex-wrap: wrap;
    font-family: Arial, Helvetica, sans-serif;
    overflow-y: scroll;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    padding-top: 10rem;
}

.container .plant-card {
    position: relative;
    overflow: hidden;
    height: 500px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background: whitesmoke;
}

.img-plant {
    height: 500px;
    border-radius: 10px;
}

.container .content {
    background-color: rgba(140, 109, 30, 0.5);
    width: 100%;
    display: flex;
    position: absolute;
    bottom: -5rem;
    flex-direction: column;
    padding: 1rem 1.5rem;
    height: 12rem;
    gap: 1.5rem;
    transition: all .3s ease;
    color: green;
}

.container .plant-card:hover .content{
    bottom: 0;
}

.container .top {
    display: flex;
    font-size: 1.6rem;
    justify-content: space-between;
    align-items: center;
    color: green;
}