
/*Menu bar*/

.top-nav {
  margin: 0;
  padding: 0;
  background-color: #fff;
  display: flex;
  justify-content: flex-end;

}

nav {
  width:100%;
  overflow: auto;
  background-color: #fff;
}

ul  {
  padding: 0;
  margin: 0 0 0 150px;
  list-style: none;
}

li {
  float: left;
}

img{
  position: absolute;
  margin-top: 15px;
  margin-left: 10px;
  width: 20em;
}

nav a {
  width: 100px;
  display: block;
  padding: 20px 15px;
  text-decoration: none;
  font-family: arial;
  font-size: 20px;
  color: #D27C2C;
}
 
  /* slide bar */

  .slider-container {
    display: block;
    height: 270px;
    width: auto;
    margin: 0 auto;
    position: relative;
    max-width: 1300px;
    margin-top: 20px;
    top: 200px;
  }
  .slider-container .arrow-left {
    position: absolute;
    left: 10%;
    top: 50%;
    transform: translate3d(0, -50%, 0);
    color: white;
    font-size: 28px;
    cursor: pointer;
    z-index: 9;
    border-top: 15px solid transparent;
    border-right: 30px solid #C85054;
    border-bottom: 15px solid transparent;
  }
  @media (max-width: 768px) {
    .slider-container .arrow-left {
      display: none;
    }
  }
  .slider-container .arrow-right {
    position: absolute;
    right: 10%;
    top: 50%;
    transform: translate3d(0, -50%, 0);
    color: white;
    font-size: 28px;
    cursor: pointer;
    z-index: 9;
    border-top: 15px solid transparent;
    border-left: 30px solid #C85054;
    border-bottom: 15px solid transparent;
  }
  @media (max-width: 768px) {
    .slider-container .arrow-right {
      display: none;
    }
  }
  .slider-container .dots {
    display: inline-block;
    width: 100%;
    text-align: center;
    margin: 30px 0;
    user-select: none;
  }
  .slider-container .dots span {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 2px;
    cursor: pointer;
    user-select: none;
    padding: 10px 0;
    position: relative;
  }
  .slider-container .dots span:before {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate3d(-50%, -50%, 0);
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: #ccc;
    opacity: 0.6;
  }
  @media (max-width: 768px) {
    .slider-container .dots span {
      width: 23px;
      margin-bottom: 15px;
    }
  }
  .slider-container .dots span.active:before {
    background-color: #C85054;
    opacity: 1;
  }
  .slider-container .slider img {
    display: block;
    width: 650px;
    height: 100%;
    margin: 0 auto;
    position: relative;
    text-align: center;
    line-height: 270px;
    color: white;
  }

  @media (max-width: 768px) {
    .slider-container .slider {
      height: 450px;
    }
  }
  .slider-container .slider .slide {
    display: inline-block;
    width: 80%;
    height: 600px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate3d(-50%, -50%, 0) scale3d(0.4, 0.4, 1);
    transition: transform 0.3s ease-in-out 0s, z-index 0.2s ease-in-out 0.1s;
  
  }
 
  @media (max-width: 768px) {
    .slider-container .slider .slide {
      width: 100%;
      height: 450px;
    }
  }
 
  .slider-container .slider .slide.prev-2 {
    transform: translate3d(-105%, -50%, 0) scale3d(0.4, 0.4, 1);
    z-index: 1;
    opacity: 0.5;
  }
  .slider-container .slider .slide.prev-1 {
    transform: translate3d(-85%, -50%, 0) scale3d(0.6, 0.6, 1);
    z-index: 2;
  }
  .slider-container .slider .slide.next-1 {
    z-index: 2;
    transform: translate3d(-15%, -50%, 0) scale3d(0.6, 0.6, 1);
  }
  .slider-container .slider .slide.next-2 {
    z-index: 1;
    transform: translate3d(5%, -50%, 0) scale3d(0.4, 0.4, 1);
    opacity: 0.5;
  }
  .slider-container .slider .slide.active {
    z-index: 3;
    transform: translate3d(-50%, -50%, 0) scale3d(1, 1, 1);
  }