.top-nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: auto;
  background-color: #FFF;
}

li  {
  float: left;
  text-decoration: none;
}


.top-nav a {
  text-align: center;
  color: #D27C2C;
  padding: 12px;
  font-size: 17px;
  display: block
}

/* Change the link color to #111 (black) on hover */
.top-nav a:hover {
  background-color: #333464;
}

.slide-card {
  display: block;
  
}


